# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# MacOS
.DS_Store

# SSH keys - should never be committed
id_ed25519*
*.key
*.pub
*_key
*_key.pub

# Coverage reports
.coverage
htmlcov/

# Testing
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
PRESTO-v*.zip
